/* Your CSS goes here */

body {
    font-family: Helvetica, sans-serif;
}

h1 {
    color: green;
}

h3 {
    color: purple;
}

input {
    background-color: yellow;
}

#lastname {
    font-weight: bold;
}

.instructions {
    border:solid 2px;
}